In [26]:
# Importation des packages requis
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from requests import get

# Initialisation d'un DataFrame vide
df = pd.DataFrame()

# Parcours des 111 premières pages de la plateforme e-commerce Dakar-Auto section location de voitures

#for p in range(1, 112)
for p in range(1, 3): 
    url = f'https://dakar-auto.com/senegal/location-de-voitures-19?page={p}'
    res = requests.get(url)
    soup = bs(res.text, 'html.parser')
    containers = soup.find_all('div', class_='listing-card')

    data = []
    
    for container in containers:
        name = container.find('h2', class_='listing-card__header__title mb-md-2 mb-0').text.strip() 
        price = container.find('h3', class_='listing-card__header__price font-weight-bold text-uppercase mb-0').text.strip().replace('\u202f','').replace(' F CFA','')
        Ref = container.find('li', class_='listing-card__attribute list-inline-item').text.strip().replace('\u202f','').replace('Ref.','')
        proprio = container.find('p', class_='time-author m-0').text.strip().replace('\u202f','').replace('Par ','')
        adr_vente_commune = container.find('span', class_='town-suburb d-inline-block').text.strip().replace('\u202f','').replace(',','')
        adr_vente_region = container.find('span', class_='province font-weight-bold d-inline-block').text.strip()  
        
       
        
        # Creation d'un dictionnaire de donnees 
     
        
        data.append({'Marque_Modele_Annee': name, 
                     'Prix (F CFA)' : price, 
                     'Ref.' : Ref, 
                     'Adr_Commune' : adr_vente_commune,
                     'Adr_Region' : adr_vente_region,
                     'Proprio' : proprio, 
                     }) 
    
    # Ajout des donnees au DataFrame nomme 'df
    df = pd.DataFrame(data)

# Affichage du DataFrame 'df'
print(df)

                         Marque_Modele_Annee Prix (F CFA)     Ref.  \
0                            Kia Optima 2014        25000   137084
1                           Bmw Serie 5 2014        70000   137054
2                           Ford Fusion 2020        35000   137033
3                         Ford titanium 2020        40000   137034
4                           Ford Fusion 2015        30000   137035
5                       Hyundai Elantra 2014        30000   137036
6                         Ford Explorer 2019        60000   137037
7                           Kia Sorento 2020        40000   137032
8                        Ford ESCAPE-SE 2019        35000   137028
9                          Hyundai Atos 2019        30000   137030
10                       Renault Espace 2019        10000   137029
11                            Ford Edge 2015        45000   137027
12                       Hyundai Accent 2020        50000   137025
13                      Hyundai Elantra 2015        30000   136615
14                      Chevrolet Cruze 2013        25000   136931
15        Renault premium-270-dci-frigo 2010        70000   136729
16                    Isuzu CAMIONNETTE 2010        35000   136731
17  Renault Camion-Frigo-meldium-220CDI 2010        50000   136730
18                            Ford Edge 2018        60000   136739
19                       Hyundai Sonata 2014        30000   136720

            Adr_Commune Adr_Region               Proprio
0                Ouakam      Dakar          Valer NDOUBA
1                Virage      Dakar     Coulibaly Mamadou
2           Biscuiterie      Dakar           Evrad Peter
3                Médina      Dakar               BS Auto
4                Médina      Dakar             SEN BAZAR
5                Médina      Dakar             SEN BAZAR
6                  Yoff      Dakar        A vos services
7                  Yoff      Dakar             Abdia ...
8      Cité Keur gorgui      Dakar      Madiba Auto rent
9             Liberté 6      Dakar     Car Service Dakar
10               Ouakam      Dakar          Boutik Promo
11              Point-E      Dakar            TECHZONE .
12                Mbour      Thiès             Yva Ndour
13               Médina      Dakar             SEN BAZAR
14    Sicap Sacré Coeur      Dakar           Amadou gaye
15  Parcelles Assainies      Dakar         NAWANAM SUARL
16  Parcelles Assainies      Dakar         NAWANAM SUARL
17  Parcelles Assainies      Dakar         NAWANAM SUARL
18           Grand-Yoff      Dakar         Atlantic auto
19        Hann Maristes      Dakar  Babs Motos, Scooters

In [27]:
# Vue du Dataframe 'df'
df.head()

,Marque_Modele_Annee,Prix (F CFA),Ref.,Adr_Commune,Adr_Region,Proprio
0,Kia Optima 2014,25000,137084,Ouakam,Dakar,Valer NDOUBA
1,Bmw Serie 5 2014,70000,137054,Virage,Dakar,Coulibaly Mamadou
2,Ford Fusion 2020,35000,137033,Biscuiterie,Dakar,Evrad Peter
3,Ford titanium 2020,40000,137034,Médina,Dakar,BS Auto
4,Ford Fusion 2015,30000,137035,Médina,Dakar,SEN BAZAR

In [28]:
# Affichage des colonnes du DataFrame
df.columns

Index(['Marque_Modele_Annee', 'Prix (F CFA)', 'Ref.', 'Adr_Commune',
       'Adr_Region', 'Proprio'],
      dtype='object')

In [29]:
import pandas as pd
import numpy as np

In [30]:
# Verification de la reorganisation des colonnes
df.head()

,Marque_Modele_Annee,Prix (F CFA),Ref.,Adr_Commune,Adr_Region,Proprio
0,Kia Optima 2014,25000,137084,Ouakam,Dakar,Valer NDOUBA
1,Bmw Serie 5 2014,70000,137054,Virage,Dakar,Coulibaly Mamadou
2,Ford Fusion 2020,35000,137033,Biscuiterie,Dakar,Evrad Peter
3,Ford titanium 2020,40000,137034,Médina,Dakar,BS Auto
4,Ford Fusion 2015,30000,137035,Médina,Dakar,SEN BAZAR

In [31]:
# Divisions de la colonne 'Marque_Modele_Annee' par des espaces
split_columns = df['Marque_Modele_Annee'].str.split(' ', expand=True)

In [32]:
# Verification de la division de la colonne 'Marque_Modele_Annee' en 3 nouvelles colonnes pour une meilleur lisibilite
split_columns

            0                            1     2     3
0         Kia                       Optima  2014  None
1         Bmw                        Serie     5  2014
2        Ford                       Fusion  2020  None
3        Ford                     titanium  2020  None
4        Ford                       Fusion  2015  None
5     Hyundai                      Elantra  2014  None
6        Ford                     Explorer  2019  None
7         Kia                      Sorento  2020  None
8        Ford                    ESCAPE-SE  2019  None
9     Hyundai                         Atos  2019  None
10    Renault                       Espace  2019  None
11       Ford                         Edge  2015  None
12    Hyundai                       Accent  2020  None
13    Hyundai                      Elantra  2015  None
14  Chevrolet                        Cruze  2013  None
15    Renault        premium-270-dci-frigo  2010  None
16      Isuzu                  CAMIONNETTE  2010  None
17    Renault  Camion-Frigo-meldium-220CDI  2010  None
18       Ford                         Edge  2018  None
19    Hyundai                       Sonata  2014  None

In [33]:
# Attribution des colonnes fractionnées aux nouvelles colonnes du DataFrame 'Marque' , 'Model', 'Annee'  
df['Marque'] = split_columns[0]
df['Model'] = split_columns[1]
df['Annee'] = split_columns[2]

In [34]:
# Nouvelle reorganisation des colonnes 
df = df[['Marque', 'Model', 'Annee', 'Prix (F CFA)', 'Ref.', 'Adr_Commune', 'Adr_Region', 'Proprio' ]]

In [35]:
# Le DataFrame final a ecporter en CSV
df

,Marque,Model,Annee,Prix (F CFA),Ref.,Adr_Commune,Adr_Region,Proprio
0,Kia,Optima,2014,25000,137084,Ouakam,Dakar,Valer NDOUBA
1,Bmw,Serie,5,70000,137054,Virage,Dakar,Coulibaly Mamadou
2,Ford,Fusion,2020,35000,137033,Biscuiterie,Dakar,Evrad Peter
3,Ford,titanium,2020,40000,137034,Médina,Dakar,BS Auto
4,Ford,Fusion,2015,30000,137035,Médina,Dakar,SEN BAZAR
5,Hyundai,Elantra,2014,30000,137036,Médina,Dakar,SEN BAZAR
6,Ford,Explorer,2019,60000,137037,Yoff,Dakar,A vos services
7,Kia,Sorento,2020,40000,137032,Yoff,Dakar,Abdia ...
8,Ford,ESCAPE-SE,2019,35000,137028,Cité Keur gorgui,Dakar,Madiba Auto rent
9,Hyundai,Atos,2019,30000,137030,Liberté 6,Dakar,Car Service Dakar
10,Renault,Espace,2019,10000,137029,Ouakam,Dakar,Boutik Promo
11,Ford,Edge,2015,45000,137027,Point-E,Dakar,TECHZONE .
12,Hyundai,Accent,2020,50000,137025,Mbour,Thiès,Yva Ndour
13,Hyundai,Elantra,2015,30000,136615,Médina,Dakar,SEN BAZAR
14,Chevrolet,Cruze,2013,25000,136931,Sicap Sacré Coeur,Dakar,Amadou gaye
15,Renault,premium-270-dci-frigo,2010,70000,136729,Parcelles Assainies,Dakar,NAWANAM SUARL
16,Isuzu,CAMIONNETTE,2010,35000,136731,Parcelles Assainies,Dakar,NAWANAM SUARL
17,Renault,Camion-Frigo-meldium-220CDI,2010,50000,136730,Parcelles Assainies,Dakar,NAWANAM SUARL
18,Ford,Edge,2018,60000,136739,Grand-Yoff,Dakar,Atlantic auto
19,Hyundai,Sonata,2014,30000,136720,Hann Maristes,Dakar,"Babs Motos, Scooters"

In [36]:
# Export du Dataframe dans un CSV file
df.to_csv('Location_Voitures_Dakar_Auto_Datas.csv', index=False)